# Normalize line endings
* text=auto

# Use LF for code and text files
*.js   text eol=lf
*.jsx  text eol=lf
*.ts   text eol=lf
*.tsx  text eol=lf
*.css  text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md   text eol=lf
